{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'cool/CSS/swagme.css' %}">
    <link rel="stylesheet" href="{% static 'cool/CSS/common.css' %}">
    
</head>
<body>
    <div class="wrapper">
        <img src="{% static 'C:\Users\abhishek soni\OneDrive\Desktop\Djnago_tasks\cool\static\cool\Image\swagMeAndYou.jpg'%}" alt="">

    <div class="home">
       <h1>TIger bhai</h1>
       <img src="{% static '/cool/Image/swagMe.jpg'%}" alt="image">

    </div>
    </div>
    <script src="{% static 'cool/JS/common.js' %}"></script>
    <script src="{% static 'cool/JS/swagme.js' %}"></script>

</body>
</html>